node_modules
src/assets/images/MaterielsAgriculture/*
!src/assets/images/MaterielsAgriculture/README.md
src/assets/images/MedicamentsAgriculture/*
!src/assets/images/MedicamentsAgriculture/README.md
src/assets/images/Agricultures/*
!src/assets/images/Agricultures/README.md
src/assets/images/Utilisateur/Admin/*
!src/assets/images/Utilisateur/Admin/README.md
!src/assets/images/Utilisateur/Admin/defaultImage.jpg
src/assets/images/Utilisateur/Agriculteur/*
!src/assets/images/Utilisateur/Agriculteur/README.md
!src/assets/images/Utilisateur/Agriculteur/defaultImage.jpg