.stock-container {
    grid-area: main;
    overflow-y: auto;
   
    /* background-color: rgb(245, 231, 249); */
    background-color:initial;
    
  }
  
  .main-title {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.35);
    display: block;
    /* font-family: 'Times New Roman', Times, serif; */
    /* height: 100%; */
    font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #f8f9fd;
  color: gray; }
  
  .List-title h5 {
    margin-left: 4%;
    padding: 20px 20px;
    font-weight: bold;
  }
  .style-line {
    border-Bottom: 1px solid #ddd;
     margin: 10px 0;
    display: block;
  }
  .rechercher {
    width: 22%;
    margin-left: 4%;
    padding: 10px 10px;
  }
 
  .grid-style{
    width: 100%;
    margin-left: 4%;
    /* margin-top: 3%; */
    margin-bottom: 1rem;
    vertical-align: top;
  }
  /* .table-header {
    position: fixed;
    width: 100%;
    z-index: 1000;
  } */
  /* .header-style {
    background-color: #38c609 !important;
    font-size: large;
    padding: 15px;
    color:white;
  }
  th {
    padding: 15px;
    color:white;
  }
  .row-style {
    font-size: large;
    padding: 16px;
    font-family:sans-serif;
    /* border-bottom: 1px solid #ddd; 
  }
   tr:nth-child(even) {
    background-color: #D6EEEE;
  }*/
  .action {
    vertical-align: middle;
    line-height: 1px;
    font-size: 29px;
    display: flex;
  }
  .icon-trash{
    margin-left: 15%;
  }
  .icon-edit {
    color:#38c609
  } 
  /* .design-table,td,th {
    border: 1px solid black;
    border-collapse: collapse;
} */
/* table */
.ftco-section {
  padding: 0em 0; }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 576px) {
      .container {
        max-width: 540px; } }
    @media (min-width: 768px) {
      .container {
        max-width: 720px; } }
    @media (min-width: 992px) {
      .container {
        max-width: 960px; } }
    @media (min-width: 1200px) {
      .container {
        max-width: 1140px; } }
.row {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px; }
          .col-md-12 {
          position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; 
  
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

    .table-wrap {
      overflow-x: scroll; }
    
    .table {
      min-width: 1000px !important;
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 10px; }
      .table thead th {
        border: none;
        padding: 30px;
        font-size: 14px;
        color: #f9fbf9; 
        background-color: #38c609;
      }
      .table tbody tr {
        margin-bottom: 10px;
        -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
        -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
        box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29); }
      .table tbody th, .table tbody td {
        border: none;
        padding: 30px;
        font-size: 14px;
        background: #fff; }
      .table tbody td .close span {
        font-size: 12px;
        color: #dc3545; }
        .alert {
          position: relative;
          padding: 0.75rem 1.25rem;
          margin-bottom: 1rem;
          border: 1px solid transparent;
          border-radius: 0.25rem; }
          /* .table .thead-dark th {
            color: inherit;
            border-color: #fbfbfb; }  */
  /* Ajouter */
  .main-ajoute{
    padding: 20px 20px;
    margin-bottom: 20px;
  }
  .btn-plus{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.35);
    display: block;

    font-size: 16px;
    line-height: 1.8;
    background: #f8f9fd;
    
  }
  .icon-plus{
    font-size: 164%;;
  }
  .btn-title{
    font-family: "Poppins", Arial, sans-serif;
    color: rgb(91, 91, 91);
    font-weight: bold;
    margin-left: 4%;
  }
  .td-image{
    width: 70%;
    height: 50%;
    border-radius: 10%;
  }
  td.td-im {
    width: 200px;
  }
  /* form */
  .form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
  }
  
  .form-container div {
    margin-bottom: 15px;
  }
  
  .form-container label {
    display: block;
    font-weight: bold;
  }
  
  .form-container input[type="text"],
  .form-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #45a049;
  }