/*  */
:root {
    --primary: #3CB815;
    --secondary: #F65005;
    --light: #F7F8FC;
    --dark: #111111;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 3vw; /* Utilisation de pourcentages pour l'emplacement */
    bottom: 3vw;
    z-index: 99;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.bg-icon {
    background: url(../images/bg-icon.png) center center repeat;
    background-size: contain;
}

/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-outline-primary:hover,
.btn.btn-outline-secondary:hover {
    color: #FFFFFF;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    width: 3vw; /* Utilisation de pourcentages pour la taille */
    height: 3vw;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border: none;
}

/*** Navbar ***/

.navbar {
    overflow: hidden;
    transition: White 0.3s;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
  }
  
  .navbar .nav-link:hover {
    background-color: #ddd;
    color: black;
  }
  /*  */
.fixed-top {
    transition: .5s;
}
  
.top-bar {
    color:#fff;
    height: 7vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    font-size: 1rem;
    visibility: visible;
    transition: visibility 0.3s ease;
  }
.text-body{
    background-color: #fff;
}
  .invisible {
    visibility: hidden;
    height: 0vh;

  }
  
  .scrolled {
    background-color: rgb(253, 252, 252); 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    height: 10vh;
    padding: 2vh 1.5vw;
    color: #000;
    font-weight: 500;
    outline: none;
    font-size: 1.2rem;
  }
  /* .navbar-nav {
    margin-top: 10px; 
  } */
  
  .logo {
    width: 10%;
    height: 1%;
  }
navbar-expand-lg {
    margin-top: 3vh;
}
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 2vw;
}

.navbar .navbar-nav .nav-link {
    
    color: white;
    font-weight: 500;
    outline: none;
    font-size: 1.2rem;
}

/* .navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--dark);
} */
.select {
    border: none;
}
@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 1vh; /* Utilisation de pourcentages pour l'espacement */
        border-top: 1px solid rgba(0, 0, 0, .07);
        color: black;
        background-color: #000;
    }

    .navbar .navbar-nav .nav-link {
        padding: 1vh 0;
    }
}

@media (max-width: 768px) {
    .navbar .navbar-nav {
        margin-top: 1vh;
        border-top: 1px solid rgba(0, 0, 0, .07);
        color: black;
        background-color: #000;
    }

    .navbar .navbar-nav .nav-link {
        padding: 1vh 0;
        font-size: 1rem;
    }

    .navbar .nav-item .dropdown-menu {
        /* top: 100%; */
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 8%;
        height: 8%;
        border: 1vw solid #3CB815;
        border-radius: 8%;
    }

    .btn-primary-carsoul,
    .btn-secondary-carsoul {
        font-size: 2vh;
    }
    .scrolled {
        height: 30vh;
        color: #fdf9f9;
      }
}

/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    z-index: 1;
}
.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3vw; /* Utilisation de pourcentages pour la taille */
    height: 3vw;
    background-color: #3CB815;
    border: 1vw solid #3CB815; /* Utilisation de pourcentages pour l'épaisseur de la bordure */
    border-radius: 3vw;
}

.slideInDown{
    color:#ffffff;
    font: 500  sans-serif;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}


.page-header {
    padding-top: 12vh; /* Utilisation de pourcentages pour le rembourrage */
    padding-bottom: 6vh; /* Utilisation de pourcentages pour le rembourrage */
    background: url(../images/carousel-1.jpg) top right no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}

/*** Section Header ***/
.section-header {
    position: relative;
    padding-top: 2.5vh; /* Utilisation de pourcentages pour le rembourrage */
}

.btn-primary-carsoul {
    background-color: #3CB815;
    border: none;
    font-size: 3vh;
    margin-left: 1vh;
}

.btn-secondary-carsoul {
    background-color: #F65005;
    border: none;
    font-size: 3vh;
}
/* Type Sol */
.paraghraphe-Terre{
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
}
.slider {
    margin-right: 50%;
    margin-left: 20%;
    width: 65%;
    border:none;
}
.card {
    height: 50%;
    margin-right: 20px;
    border-style: outset;
    box-shadow: 20px 20px 20px 20px #ffffff;
    background: #fff;
    margin-bottom: 10%;
}
.card:not(:last-child) {
    margin-right: 20px;
  }
  .align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important; }
    .d-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important; }
.mt-4 {
  margin-top: 1.5rem !important; }
  .mb-0 {
  margin-bottom: 0 !important; }
  .ml-auto{
  margin-left: auto !important; }
  .meta2 a {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.4); 
    text-decoration: none;
}
.btn-Read {
    background-color: #3CB815;
    color : white;
}
.btn-Read:hover {
    background-color: #3CB815;
    color : white;
}
.Title{
    font-size: 20px;
      margin-bottom: 16px;
      font-weight: 600;
      color: #000;
      position: relative;
    border-top: 0;
    border-radius: 2px;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
}
.Title:hover {
    color:#3CB815;
}
.description {
    font-family: sans-serif;

}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none; }
.carousel-indicators li{
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #050705;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    -webkit-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease
}

@media (prefers-reduced-motion: reduce) {
    .carousel-indicators li {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }
.carousel-indicators .active {
  opacity: 1; }
.container {
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 4%;
    text-align: center;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
  }
.container h1 {
    font-family: "Times New Roman", Times, serif;
    font-style:var(--dark);
    font-weight: bold;
}
/* .container {
    display: flex;
    flex-direction: column;
  } */
  
  .red-line {
    width: 20mm;
    height: 2mm;
    margin-bottom: 5px;
    background-color:#F65005;
  }
  
  .green-line {
    width: 30mm;
    height: 2mm;
    margin-bottom: 18px;
    background-color:#3CB815;
  }
  .container p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
/* BandeRoulante */
.Entreprise {
     flex: 1;
     font-size: 30px;
     font-family: "Times New Roman", Times, serif;
     font-style:var(--dark);
     font-weight: bold;
     margin-right: 40px;
}
.equal-height-image{
    margin-bottom: 30px;
    height: auto;
    filter: grayscale(100%);
    object-Fit: cover;
    border-Radius: 8px;

    
  }
  .equal-height-image:hover{
    filter: none;
  }
  .Line {
   margin-right: 70%;
  }
  @media (max-width: 768px) {
    .header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    .header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .slider {
        margin-right: 50%;
        margin-left: 20%;
        width: 100%;
        border:none;
    }
    .card {
        height: 20%;
        width: 100%;
    }
}